<div class="row">
  <div class="col-md-6 col-sm-6">
    <article class=" blog-teaser">
      <header>
        <%= image_tag "1.jpg" %>
        <h3><a href="single.html">How to Create Template</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>
  <div class="col-md-6 col-sm-6">
    <article class="blog-teaser">
      <header>
        <%= image_tag "2.jpg" %>
        <h3><a href="single.html">Clean Personal Blog Template</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <article class="blog-teaser">
      <header>
        <%= image_tag "4.jpg" %>
        <h3><a href="single.html">Blackor - Responsive HTML5 Theme</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>
  <div class="col-md-6 col-sm-6">
    <article class=" blog-teaser">
      <header>
        <%= image_tag "1.jpg" %>
        <h3><a href="single.html">How to Create Template</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>

</div>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <article class="blog-teaser">
      <header>
        <%= image_tag "3.jpg" %>
        <h3><a href="single.html">Blackor - Responsive HTML5 Theme</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>
  <div class="col-md-6 col-sm-6">
    <article class=" blog-teaser">
      <header>
        <%= image_tag "1.jpg" %>
        <h3><a href="single.html">How to Create Template</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>

</div>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <article class="blog-teaser">
      <header>
        <%= image_tag "3.jpg" %>
        <h3><a href="single.html">Blackor - Responsive HTML5 Theme</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>
  <div class="col-md-6 col-sm-6">
    <article class=" blog-teaser">
      <header>
        <%= image_tag "5.jpg" %>
        <h3><a href="single.html">How to Create Template</a></h3>
        <span class="meta">19 August 2017, John Doe</span>
        <hr>
      </header>

    </article>
  </div>

</div>
